<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Thêm Sinh Viên</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <h1>Thêm Sinh Viên Mới</h1>
    <form action="{{ url_for('add_student') }}" method="post">
        <label for="mssv">MSSV:</label>
        <input type="text" id="mssv" name="mssv" required><br>
        
        <label for="hoten">Họ Tên:</label>
        <input type="text" id="hoten" name="hoten" required><br>
        
        <label for="nganhhoc">Ngành Học:</label>
        <input type="text" id="nganhhoc" name="nganhhoc" required><br>
        
        <button type="submit">Thêm</button>
    </form>
    <a href="{{ url_for('index') }}">Quay lại danh sách</a>
</body>

</html>
